<h1>Ironhack Cinema</h1>
<h3>Click on the movie to check the shwotimes!</h3>

{{#each movies}}
<ul>
    <li>
        <img src={{image}} alt="">
        <p>{{title}}</p>
        <a href="/movies/{{id}}">See more</a>
    </li>
</ul>
{{/each}}